/*
    override.less - Appweb Theme Overrides
 */

/* Teal */
@body-highlight:    #01D3D3;
@body-gradient:     45deg, #007A70 0px, @body-highlight 100%;

/* Red */
@body-highlight:    #A20300;
@body-gradient:     45deg, #ED0500 0px, @body-highlight 100%;
