/*
    theme.less - Default Embedthis Documentation Theme
 */

@body-highlight: #e00020;
@body-gradient: 45deg, #402020 0px, @body-highlight 100%;
@body-min-width: 320px;

@masthead-height: 80px;
@masthead-menu-opacity: 0.75;
@masthead-active: #dd2222;

@terms-height: 20px;

@content-min-height: 400px;

@inverted-code-background: #002b36;
@inverted-code-color: #c0c0c0;
@inverted-code-bold: #4ab1b0;

@link-color: #6080a0;
@link-hover-color: #40a0f0;

//
//  Colors
//
@white: #fff;
@white-almost: darken(#fff, 4%); // #F5F5F5
@red: #dd2222;

@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 60%); // #999
@gray-lighter: lighten(#000, 76%); // #CCC
@gray-lightest: lighten(#000, 93.5%); // #EEE

@border-light: lighten(@gray-light, 10%);
@shadow: darken(@gray-light, 10%);

//
//  Bands
//
@band-dark-background: #2f221f;
@band-kaki-background: #e4e3d5;
@band-teal-background: #5e7c88;
@band-teal-link: #e0e0ff;

//
//  Fonts
//
@font-sans-serif: "Open Sans", "Helvetica Neue", "Helvetica", "Arial",
  sans-serif;
@font-logo: "Julius Sans One", sans-serif;
// @font-logo:              'Audiowide;

@font: @font-sans-serif;
@font-size: 15px;

@font-logo-size: 1.5em;

@mobile-break: 900px;
