/*
    expansive.es - Sample Expansive Configuration

    This file includes all directives. Most of these have intelligent defaults and so a minimal 
    expansive.es may be much smaller.
 */
Expansive.load({
    /*
        Document meta information
     */
    meta: {
        description: 'Meta data description (optional)',
        keywords:    'Meta data keywords (optional)',
        title:       'Home page title',
        url:         'Home page URL',
    },

    /*
        Expansive control section
     */
    expansive: {
        /*
            Copy these directories from documents without rending. Not set by default.
         */
        copy: [ 'images' ],

        /*
            Dependency relationships. Used to detect when a document must be rendered due to
            changes in files that it depends upon. 

            The hash key is the document path and the value is a set of files that if modified,
            cause the document to be rendered. The document and files are relative to the 
            documents directory. The set of files can be a string or an array of files. Each 
            value file may contain '*' or '**'.
    
            Useful to notice when changes occur in included Less files. For example:
                dependencies: { 'css/all.css.less': 'css/*.inc.less' },
         */
        dependencies: {},

        /*
            Directory mappings. These are the default directory settings.
         */
        directories: {
            documents:  'documents',
            files:      'files',
            layouts:    'layouts',
            paks:       'paks',
            partials:   'partials',
            public:     'public',
        },

        /*
            Documents to process under directories.documents
         */
        documents: [ '**', '!css/*.inc.less' ],

        /*
            Address on which to listen. Format is: 'IP:PORT', but may be just a port number. Defaults to 4000.
         */
        listen: '4000',

        /*
            Files to copy outside of the documents directory. This defaults to [ documents.files ] if unset.
         */
        files: [ 'files' ],

        /*
            Index in the modes property. The selected property collection is copied up to 
            the top level. This is not set by default.
         */
        mode: 'debug',

        /*
            List of plugins to load. These are installed via 'exp install name'.
            These names should not have the 'exp-' prefix.
         */
        plugins: [ 'less', 'css', 'analytics', 'gzip' ],

        /*
            Run this script before at launch before rendering
         */
        script: ``,

        /*
            Generate a sitemap
         */
        sitemap: {
            files: [ '**.html' ],
        },

        /*
            Explict transformation pipeline. This is normally built automatically by plugins based
            on the order of the plugins in the 'plugins' property. However, it may be explicitly 
            overridden here. The pipeline values are the plugin service names.

            For example:
            transforms: {
                'less -> css': [ 'compile-less', 'prefix-css', 'minify-css', 'gzip' ]
            }
         */
        transforms: {
        },

        /*
            Time period in milliseconds to wait when watching for changes. Must be > 1000 (1 sec)
         */
        watch: 1000,
    },

    /*
        Set of per-mode properties. Depending on the value of 'mode', the selected collection
        it made active by copying to the top level of the configuration.
     */
    debug: {},
    release: {},

    /*
        Internal meta properties. These are defined internally by Expansive and made available 
        via the 'meta' object.

        basename    Basename portion of the public document filename.

        control     Control collection specified in exp.json.

        date        Generation date of the document.

        document    Name of the document in 'documents' that is being processed.

        extension   The extension of the public document filename.

        extensions  The set of extensions on the original input document.

        file        Filename of the document or partial being processed.

        from        The filename extension being processed by the current transformation.

        isLayout    True if a layout is being processed.

        isPartial   True if a partial page is being processed.

        layout      Layout page in use. Set to '' if no layout being used.

     */
})
